<a href="https://colab.research.google.com/github/jseun99/guro-python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88(2%ED%95%99%EB%85%84%EC%BD%94%EB%94%A9%EC%BA%A0%ED%94%84)_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 출력 명령어**

```
print( 출력할 내용)
```

In [ ]:
# 숫자 출력 20201106

print(20201106)

20201106

In [ ]:
# 문자 출력 2020년 11월 6일

print(2020년 11월 6일)

SyntaxError: ignored

In [ ]:
# 문자는 따옴표로 감싸주어야 함

print('2020년 11월 6일')

2020년 11월 6일

In [ ]:
# 연산하여 출력하기

print(12+34)
print(12-34)
print(12*34)
print(12/34)

46
-22
408
0.35294117647058826

In [ ]:
# 제곱

print(5**2)

25

In [ ]:
# 몫
print(5//2)
# 나머지
print(5%2)

2
1

In [ ]:
# 문자 연결하여 출력하기

print('Hello' + 'Python')

HelloPython

In [ ]:
# 문자 연결하여 출력하기

print('Hello','Python')

Hello Python

In [ ]:
# 문자 * 숫자

print('Hello Hi '*4)

Hello Hi Hello Hi Hello Hi Hello Hi

# **2. 입력 명령어**
```
input()

input( ' 입력 안내문 ' )
```

In [ ]:
input()

123

'123'

In [ ]:
input('아이디 : ')

아이디 : guroguro

'guroguro'

입력된 데이터 양 옆의 작은 따옴표

-> input() 으로 읽어들인 데이터는 모두 **문자**로 인식

# **3. 변수**
```
변수이름 = 저장할 데이터

name = '정성은'

school = '구로고'
```
<img src = 'https://github.com/jseun99/guro-python/blob/main/1.png?raw=true' width =500>

In [ ]:
a = '안녕'
print(a)

안녕

In [ ]:
a = '안녕'
print(a+'하세요')

안녕하세요

In [ ]:
print(a*4)

안녕안녕안녕안녕

In [ ]:
apple=1200
banana=800
kiwi=1700

In [ ]:
# 사과 3개, 바나나 1개, 키위 2개 구매했을때 금액은?

7800

<img src='https://github.com/jseun99/guro-python/blob/main/2.png?raw=true' width =300px>

In [ ]:
# 위 가격은 변수에 저장이 되지 않았으므로 재상용이 안됨

price = apple*3 + banana*1 + kiwi*2
price

7800

In [ ]:
# vip는 20% 할인

vip = 0.8

# vip가 동일한 가격을 구매했을 때 금액은?

6240.0

In [ ]:
# 이 결과도 변수에 저장되지 않았으므로 재사용이 안됨

vip_price = price * vip

In [ ]:
print('vip가 되시면',price,'원을',vip_price,'원에 구매 가능합니다.')

vip가 되시면 7800 원을 6240.0 원에 구매 가능합니다.

# **4. 데이터타입**

```
정수 int
실수 float
문자 str

```
**데이터타입 변환 -> 변환하려는 타입으로 감싸주기**

In [ ]:
type(apple)

int

In [ ]:
type(banana)

int

In [ ]:
type(vip)

float

In [ ]:
type(a)

str

In [ ]:
# 정수를 실수로
float(apple)

1200.0

In [ ]:
#실수를 정수로
int(vip_price)

6240

<img src = 'https://github.com/jseun99/guro-python/blob/main/3.png?raw=true' width = 300>

In [ ]:
# 문자를 정수로
score = input('점수 입력 : ')

점수 입력 : 77

77

In [ ]:
# 합쳐서 사용하기
score = int(input('점수 입력 : '))

점수 입력 : 68

In [ ]:
score

68

# **5. 리스트**

<img src='https://github.com/jseun99/guro-python/blob/main/4.png?raw=true' width=500>

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트이름 = [데이터1, 데이터2, ..., 데이터n]
```

In [2]:
# 가계부 프로그램
# 1월 지출부터 6월 지출까지 리스트로 만들기
spend = [43, 12, 65,67, 23,12]

In [3]:
spend

[43, 12, 65, 67, 23, 12]

In [4]:
type(spend)

list

# **리스트의 인덱스란**


<img src ='https://github.com/jseun99/guro-python/blob/main/5.png?raw=true' width =500>

In [5]:
# 리스트 내의 원소에 접근하기
# 인덱스를 0부터

print(spend[0])

43
12
65
67
23
12

# **리스트 마이너스 인덱스**

<img src = 'https://github.com/jseun99/guro-python/blob/main/6.png?raw=true' width=500>

In [ ]:
print(spend[-1])

In [ ]:
# 1월 지출은?

print(spend[-1])

In [ ]:
# 3월 지출은?

print(spend[2])

In [ ]:
# 알고보니 4월 지출이 10낮게 기록되었다.
# 4월 지출에 10을 더하시오.



spend

In [ ]:
# 5월 지출을 2로 나누시오.

spend[4] /= 2
spend

**여러번 실행한다면 어떻게 될까?**

# 리스트의 다양한 명령어

```
len(리스트이름)             # 리스트 길이 확인
리스트이름.append(데이터)   # 리스트에 데이터 추가
리스트이름.sort()           # 리스트 원소 정렬하기
```

In [ ]:
len(spend)

In [ ]:
fruit = ['사과','바나나','키위']
len(fruit)

In [ ]:
# 오렌지 추가
fruit.append('오렌지')
fruit

In [ ]:
# 참외 추가해보기


fruit

In [ ]:
# 정렬하기

fruit.sort()
fruit

In [ ]:
print('정렬 전 spend', spend)

spend.sort()
print('정렬 후 spend', spend)

# **리스트 슬라이싱**

<img src = 'https://github.com/jseun99/guro-python/blob/main/7.png?raw=true' width=500>


```
리스트[시작숫자 : 종료숫자]
```
종료숫자까지 잘라내는 것 XXX

종료숫자에서 탈출하는 것 OOO

```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱하고 abc[5]가 되면 탈출함
abc[4:9]       # abc[4]~abc[9]까지 슬라이싱하고 abc[9]가 되면 탈출함
```

In [ ]:
fruit

In [ ]:
# 사과, 오렌지만 골라내기

fruit[1:3]

In [ ]:
# 처음부터 [n]까지 골라내기

In [ ]:
# 뒤에서 두 개 데이터 슬라이싱

# **문자열 슬라이싱**

In [ ]:
name = 'Hello Google Python School'

In [ ]:
name[:5]

In [ ]:
name[-6:]

In [ ]:
# Python 만 슬라이싱해보기

name[13:19]

**문자열 분리 명령어 .split()**

```
문자열.split('분리할 기준')
```

In [ ]:
name.split()

In [ ]:
name.split()[0]

In [ ]:
name.split()[1:3]

In [ ]:
name.split()[-1]

In [ ]:
name.split('h')     # h 가 사라짐

In [ ]:
name.split('o')      # o 가 사라짐

In [ ]:
date = '2020-11-06'

In [ ]:
# 년도만 골라내기

date.split('-')[0]

# 숫자로 아직 안바뀐 상태
int(date.split('-')[0])

In [ ]:
# 월만 골라내기

In [ ]:
# 일만 골라내기